STORE_CARDANO_HOST=host.docker.internal
STORE_CARDANO_PORT=32000
STORE_CARDANO_PROTOCOL-MAGIC=1


SPRING_DATASOURCE_URL=jdbc:postgresql://host.docker.internal:5432/yaci_indexer?currentSchema=dev
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=
