server:
  port: 8081

spring:
  config:
    import: classpath:/git.properties
  banner:
    location: classpath:/banner.txt
  application:
    name: Yaci Store Aggregator App
  boot:
    admin:
      client:
        enabled: false
  batch:
    job:
      enabled: false

store:
  account:
    enabled: true
    balance-aggregation-enabled: true
    history-cleanup-enabled: false
    api-enabled: true
  extensions:
    utxo-storage-type: dummydb

apiPrefix: /api/v1

logging:
  file:
    name: ./logs/yaci-store-ledger-state.log


