PGHOST=localhost
PGPORT=5432
PGUSER=your_user
PGPASSWORD=your_password
PGDATABASE=dbsync
OUTPUT_DIR=./output
START_EPOCH=504
# Optional. Leave unset to export from START_EPOCH onward.
# END_EPOCH=624
